<div class="hide" data-recover-form>
  <div></div>

  <h3>{{ 'customer.recover_password.title' | t }}</h3>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>

  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span class="hide" data-form-state></span>
    {% endif %}

    <div class="mt-4">
      <label for="RecoverEmail" class="form-label">
        {{ 'customer.recover_password.email' | t }}
      </label>
      <input type="email"
            name="email"
            id="RecoverEmail"
            placeholder="{{ 'customer.recover_password.email' | t }}"
            class="form-control {% if form.errors contains 'email' %}input-error{% endif %}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off">
    </div>

    <button type="submit" class="btn btn-black mt-4">
      {{ 'customer.recover_password.submit' | t }}
    </button>

    <br>

    <a href="#" data-recover-toggle class="inline-block mt-8 text-primary-blue text-xs underline focus:text-black hover:text-black">
      {{ 'customer.recover_password.cancel' | t }}
    </a>
  {% endform %}

</div>
